LibTeam/.vs/LibTeam/FileContentIndex/05a2e3e1-1627-4941-a42d-b0cd0f7e9dcc.vsidx
LibTeam/.vs/LibTeam/FileContentIndex/1d7e672e-e0e1-4f60-8bae-afec002e84d9.vsidx
LibTeam/.vs/LibTeam/FileContentIndex/3d017e7c-4111-473c-b6d8-aaa6f5761b64.vsidx
LibTeam/.vs/LibTeam/FileContentIndex/72095cbf-bda8-4cc3-9590-56ad83cd426e.vsidx
LibTeam/.vs/LibTeam/FileContentIndex/b2acdbc3-94cf-4689-8c9c-ff2b08a5bc7e.vsidx
LibTeam/.vs/LibTeam/FileContentIndex/ccc83f80-5d3c-4d79-8fb3-0bfeb3e6de21.vsidx
LibTeam/.vs/LibTeam/FileContentIndex/dfa2bdf4-8421-4d56-94d8-3cc824b5f392.vsidx
LibTeam/.vs/LibTeam/FileContentIndex/b2acdbc3-94cf-4689-8c9c-ff2b08a5bc7e.vsidx
/LibTeam/.vs/LibTeam/FileContentIndex
/LibTeam/.vs/LibTeam/CopilotIndices/17.13.433.20974
